:root {
  --color-primary-orange: #E47120;
  --color-primary-brown: #964738;
  --color-primary-blue: #9BBFE1;
  --color-soft-blue: #F5F8FB;
  --color-seconday-orange: #FFF5EA;
  --color-primary-white: #FFFFFF;
  /* Text */
  --color-primary-gray: #505050;
  --color-secondary-green: #349F91;
}

/* Semantic colors */
:root {
  --primary-button: var(--color-primary-orange);
  --active-menu: var(--color-primary-orange);
  --confirm-messagge: var(--color-primary-orange);
  --title-section: var(--color-primary-brown);
  --stepper-steps: var(--color-primary-brown);
  --navbar: var(--color-primary-blue);
  --card-section: var(--color-primary-blue);
  --background: var(--color-soft-blue);
  --input-field: var(--color-seconday-orange);
  --primary-text: var(--color-primary-gray);
  --seconday-text: var(--color-secondary-green);
}

html{
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--primary-text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
